/* Experience.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main container */
  .experience-container {
    padding: 20px;
    margin-left: 50px;
  }
  
/* Heading with neon effect */
.experience-heading {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 
    0 0 10px rgba(65, 72, 119, 0.9),  /* Neon glow with high opacity */
    0 0 20px rgba(65, 72, 119, 0.8),  /* Stronger glow with 80% opacity */
    0 0 30px rgba(65, 72, 119, 1),    /* Full opacity for neon effect */
    0 0 40px rgba(65, 72, 119, 1),    /* Very strong neon glow */
    0 0 50px rgba(65, 72, 119, 1);    /* Extreme neon glow */
}


  
  /* List container */
  .experience-list {
    list-style: none;
    margin-top: 50px;
  }
  
  /* Individual list item */
  .experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  /* Arrow icon styling */
  .arrow-icon {
    margin-right: 15px;
    font-size: 2rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  /* Experience text */
  .experience-text {
    font-size: 30px;
    font-weight: 400;
  }
  
  /* Hover effect on arrow icon */
  .arrow-icon-hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #FF5733, 0 0 40px #FF5733, 0 0 60px #FF5733;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .experience-heading {
      font-size: 2rem;
      margin-left: 10px;
      margin-top: 20px;
    }
    .experience-list{
        margin-top: 20px;
    }
    .experience-item {
      margin-left: 10px;
    }
    .experience-text {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {

    .experience-container{
      margin: 10px;
    }
    .experience-heading {
      font-size: 2rem;
      margin-left: 5px;
      margin-bottom: 30px;
    }
    .experience-item {
      margin-left: 5px;
    }
    .experience-text {
      font-size: 1.1rem;
    }
  }
  